{% extends 'base_header_and_footer.html' %}

{% block content %}

<div class="container">
    <form action="/adapters/patch" method="POST">
        <h1 style="text-align:center;"> Форма редактирования адаптера или заглушки </h1>
        <input readonly type="text" value="{{item.id}}" name="id" placeholder="id"
               class="form-control" style="display:none;"/>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <label>Номер в каталоге</label>
                    <input required type="text" value="{{item.number_in_catalog}}" name="number_in_catalog"
                           placeholder="(Обязательное поле) Пример: АГБ 123 456 001"
                           class="form-control"/>
                </div>
                <div class="col">
                    <label>Номер в каталоге АГБ</label>
                    <input required type="text" value="{{item.number_in_catalog_agb}}" name="number_in_catalog_agb"
                           placeholder="(Обязательное поле) Пример: АГБ 123 456 001"
                           class="form-control"/>
                </div>
            </div>
            <label>Название в КД</label>
            <input required value="{{item.name_in_KD}}" type="text" name="name_in_KD"
                   placeholder="(Обязательное поле) Пример: АГБ 123 456 001"
                   class="form-control"/>
            <label>Название в каталоге</label>
            <input type="text" value="{{item.name_in_catalog}}" name="name_in_catalog"
                   placeholder="Пример: АГБ 123 456 001"
                   class="form-control"/>
            <label>Название в каталоге АГБ</label>
            <input type="text" value="{{item.name_in_catalog_agb}}" name="name_in_catalog_agb"
                   placeholder="Пример: АГБ 123 456 001"
                   class="form-control"/>
        </div>

        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <label>Тип</label>
                    <select class="form-select" aria-label="Default select example" id="type" name="adapter_type"
                            typeof="text">
                        <option value="{{item.adapter_type}}">{{item.adapter_type}}</option>
                        <option value="Диск-топ">Диск-топ</option>
                        <option value="Флип-топ">Флип-топ</option>
                        <option value="Стандартные резьбовые">Стандартные резьбовые</option>
                        <option value="Отвод">Отвод</option>
                        <option value="Заглушка">Заглушка</option>
                        <option value="Крестовина">Крестовина</option>
                        <option value="Манжета">Манжета</option>
                        <option value="Ниппель">Ниппель</option>
                    </select>
                </div>
                <div class="col">
                    <label>Угол адаптера</label>
                    <input max="360" min="0" type="number" value="{{item.adapter_angle}}" name="adapter_angle"
                           placeholder="Пример: 90"
                           class="form-control"/>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <label>Выход 1</label>
                    <input type="text" value="{{item.exit_first}}" name="exit_first" placeholder="Пример: 12"
                           class="form-control"/>
                </div>
                <div class="col">
                    <label>Выход 2</label>
                    <input type="text" value="{{item.exit_second}}" name="exit_second" placeholder="Пример: 12"
                           class="form-control"/>
                </div>
                <div class="col">
                    <label>Выход 3</label>
                    <input type="text" value="{{item.center_exit}}" name="center_exit" placeholder="Пример: 12"
                           class="form-control"/>
                </div>

            </div>
            <label>Имя в ОЕМ</label>
            <input type="text" value="{{item.name_in_OEM}}" name="name_in_OEM" placeholder="Пример: АГБ 123 456 001"
                   class="form-control"/>
        </div>
        <div class="container text-center">
            <div class="col">
                <label>Присвоил</label>
                <input required value="{{item.assigned}}" type="text" name="assigned"
                       placeholder="(Обязательное поле) Пример: Иванов И.И."
                       class="form-control"/>
            </div>
            <div class="col">
                <label>Примечание</label>
                <input value="{{item.note}}" type="text" name="note" placeholder="Любое примечание по детали"
                       class="form-control"/>
            </div>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <label>Применяемость</label>
                    <input value="{{item.applicability}}" type="text" name="applicability" placeholder="Где применимо"
                           class="form-control"/>
                </div>
            </div>
            <label style="display:none;">Дата</label>
            <input style="display:none;" type="datetime-local" name="date" placeholder="date"
                   class="form-control" value="{{ current_datetime }}" readonly/>
        </div>
        <br>
        <div class="container text-center">
            <button class="btn btn-success" style="width: 400px">Применить изменения</button>
        </div>
    </form>
</div>

{% endblock content %}