{% extends 'base_header_and_footer.html' %} {% block content %}

<style>
  .dropdown-container {
    max-width: 300px;
    margin-bottom: 20px;
  }

  select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .category-label {
    margin-bottom: 5px;
    color: #666;
  }
</style>

<form
  action="/metiz/patch"
  method="POST"
>
  <input
    style="display: none"
    name="id"
    type="text"
    readonly
    value="{{item.id}}"
  />
  <div class="container text-center">
    <h1 style="text-align: center">Форма редактирования метиза</h1>
    <div class="row">
      <div class="col">
        <label>Номер в каталоге</label>
        <input
          value="{{item.number_in_catalog}}"
          required
          type="text"
          name="number_in_catalog"
          placeholder="(Обязательное поле) Номер в каталоге"
          class="form-control"
        />
      </div>
      <div class="col">
        <label>Номер в каталоге АГБ</label>
        <input
          value="{{item.number_in_catalog_agb}}"
          required
          type="text"
          name="number_in_catalog_agb"
          placeholder="(Обязательное поле) Номер в каталоге АГБ"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div class="container text-center">
    <label>Название в каталоге</label>
    <input
      type="text"
      value="{{item.name_in_catalog}}"
      name="name_in_catalog"
      placeholder="Название в каталоге"
      class="form-control"
    />

    <label>Название в каталоге АГБ</label>
    <input
      type="text"
      value="{{item.name_in_catalog_agb}}"
      name="name_in_catalog_agb"
      placeholder="Название в каталоге АГБ"
      class="form-control"
    />

    <label>Название по КД</label>
    <input
      type="text"
      value="{{item.name_in_KD}}"
      name="name_in_KD"
      placeholder="Название по конструкторской документации"
      class="form-control"
    />
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <label class="category-label">Тип метиза:</label>
        <select
          id="fastener-type"
          disabled
          name="hardware_type"
        >
          <option value="{{item.hardware_type}}">{{item.hardware_type}}</option>
        </select>
      </div>
      <div class="col">
        <label class="category-label">Стандарт <small>(предпочтительно DIN. Для дюймовых ASME)</small></label>
        <select
          id="standard"
          disabled
          name="standard"
        >
          <option value="{{item.standard}}">{{item.standard}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <label class="category-label">Профиль</label>
        <select
          id="profile"
          disabled
          name="thread_profile"
        >
          <option value="{{item.thread_profile}}">{{item.thread_profile}}</option>
        </select>
      </div>
      <div class="col">
        <label class="category-label">Диаметр <small>(Номинальный)</small></label>
        <select
          id="diameters"
          disabled
          name="nominal_diameter"
        >
          <option value="{{item.nominal_diameter}}">{{item.nominal_diameter}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <label>Шаг резьбы</label>
        <input
          type="text"
          value="{{item.thread_pitch}}"
          name="thread_pitch"
          placeholder="Пример: 24"
          class="form-control"
        />
      </div>
      <div class="col">
        <label>Длинна</label>
        <input
          type="text"
          value="{{item.length}}"
          name="length"
          placeholder="Пример: 1/2"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <label>Материал покрытия</label>
        <input
          type="text"
          value="{{item.Material_or_coating}}"
          name="Material_or_coating"
          placeholder="Пример: Zn"
          class="form-control"
        />
      </div>
      <div class="col">
        <label>Класс прочности</label>
        <input
          type="text"
          value="{{item.strength_class}}"
          name="strength_class"
          placeholder="Пример: G5"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div class="container text-center">
    <label>Присвоил</label>
    <input
      required
      type="text"
      value="{{item.assigned}}"
      name="assigned"
      placeholder="(Обязательное поле) Ваша Фамилия"
      class="form-control"
    />

    <label>Примечание</label>
    <input
      type="text"
      value="{{item.note}}"
      name="note"
      placeholder="Любое примечание по детали"
      class="form-control"
    />

    <label>Применяемость</label>
    <input
      type="text"
      value="{{item.applicability}}"
      name="applicability"
      placeholder="В каком проекте применяется данная деталь"
      class="form-control"
    />

    <label style="display: none">Дата</label>
    <input
      type="datetime-local"
      name="date"
      placeholder="date"
      style="display: none"
      class="form-control"
      value="{{ current_datetime }}"
      readonly
    />
  </div>
  <br />
  <div class="container text-center">
    <button
      class="btn btn-success"
      style="width: 400px"
    >
      Применить изменения
    </button>
  </div>
</form>
{% endblock content %}
