{% extends '/patch/base.html' %}

{% block content %}
<div class="container">
    <form action="/metiz/patch" method="POST">
        <input type="text" name="id" placeholder="id" class="form-control"
               value="{{ item.id }}" readonly/>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <label>Номер в каталоге</label>
                    <input type="text" name="number_in_catalog" placeholder="number_in_katalog" class="form-control"
                           value="{{ item.number_in_catalog }}"/>
                </div>
                <div class="col">
                    <label>Номер в каталоге АГБ</label>
                    <input type="text" name="number_in_catalog_agb" placeholder="number_in_katalog_agb"
                           class="form-control" value="{{ item.number_in_catalog_agb }}"/>
                </div>
                <div class="col">
                    <label>Название в КД</label>
                    <input type="text" name="name_in_KD" placeholder="name_in_KD" class="form-control"
                           value="{{ item.name_in_KD }}"/>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <label>Название в каталоге</label>
                    <input type="text" name="name_in_catalog" placeholder="name_in_katalog" class="form-control"
                           value="{{ item.name_in_catalog }}"/>
                </div>

                <div class="col">
                    <label>Название в каталоге АГБ</label>
                    <input type="text" name="name_in_catalog_agb" placeholder="name_in_katalog_agb"
                           class="form-control" value="{{ item.name_in_catalog_agb }}"/>
                </div>
                <div class="col">
                    <label>Стандарт
                        <small>(предпочтительно DIN. Для дюймовых ASME)</small></label>
                    <input type="text" name="standard" placeholder="standard" class="form-control"
                           value="{{ item.standard }}"/>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <label>Тип</label>
                    <select class="form-select" aria-label="Default select example" id="hardware_type" name="hardware_type" typeof="text">
                        <option value="{{ item.hardware_type }}" selected>{{ item.hardware_type }}</option>
                        <option value="Болт">Болт</option>
                        <option value="Болт доработанный">Болт доработанный</option>
                        <option value="Винт">Винт</option>
                        <option value="Винт с шестигранной головкой">Винт с шестигранной головкой</option>
                        <option value="Винт установочный">Винт установочный</option>
                        <option value="Втулка">Втулка</option>
                        <option value="Гайка">Гайка</option>
                        <option value="Гайка-барашек">Гайка-барашек</option>
                        <option value="Заглушка">Заглушка</option>
                        <option value="Заклепка">Заклепка</option>
                        <option value="Заклепка вытяжная">Заклепка вытяжная</option>
                        <option value="Заклепка резьбовая">Заклепка резьбовая</option>
                        <option value="Кольцо">Кольцо</option>
                        <option value="Наименование по каталогу АГБ/ ТипСМ.ПРИМЕЧАНИЕ">Наименование по каталогу АГБ/
                            ТипСМ.ПРИМЕЧАНИЕ
                        </option>
                        <option value="Ось">Ось</option>
                        <option value="Саморез">Саморез</option>
                        <option value="Скоба U-образная">Скоба U-образная</option>
                        <option value="Шайба">Шайба</option>
                        <option value="Шпилька">Шпилька</option>
                    </select>
                </div>
                <div class="col">
                    <label>Профиль</label>
                    <select class="form-select" aria-label="Default select example" id="thread_profile" name="thread_profile"
                            typeof="text">
                        <option value="{{ item.thread_profile }}" selected> {{ item.thread_profile }}</option>
                        <option value="UNC">UNC</option>
                        <option value="M">M</option>
                        <option value="ПСВ.711141.001">ПСВ.711141.001</option>
                    </select>
                </div>
                <div class="col">
                    <label>Диаметр <small>(Номинальный)</small></label>
                    <input type="nominal_diameter" name="nominal_diameter" placeholder="diameter" class="form-control"
                           value="{{item.nominal_diameter}}"/>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <label>Шаг резьбы</label>
                    <input type="text" name="thread_pitch" placeholder="thread_pitch" class="form-control" value="{{item.thread_pitch}}"/>
                </div>
                <div class="col">
                    <label>Длинна</label>
                    <input type="text" name="length" placeholder="length" class="form-control" value="{{item.length}}"/>
                </div>
                <div class="col">
                    <label>Класс прочности</label>
                    <input type="text" name="accuracy" placeholder="accuracy" class="form-control"
                           value="{{item.accuracy}}"/>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <label>Материал покрытия</label>
                    <input type="text" name="Material_or_coating" placeholder="material" class="form-control"
                           value="{{item.Material_or_coating}}"/>
                </div>
                <div class="col">
                    <label>Присвоил</label>
                    <input required type="text" name="assigned" placeholder="assigned"
                           class="form-control" value="{{item.assigned}}"/>
                </div>
                <div class="col">
                    <label>Примечание</label>
                    <input type="text" name="note" placeholder="note" class="form-control" value="{{item.note}}"/>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <label>Применяемость</label>
                    <input type="text" name="applicability" placeholder="applicability" class="form-control"
                           value="{{item.applicability}}"/>
                </div>
                <div class="col">
                    <label>Дата</label>
                    <input type="datetime-local" name="date" placeholder="date"
                           class="form-control" value="{{ current_datetime }}" readonly/>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <button class="btn btn-primary" style="width: 400px">Изменить</button>
        </div>
    </form>
</div>

{% endblock content %}