{% extends 'base_header_and_footer.html' %}
{% block content %}
<form action="/RWD/patch" method="POST">
    <h1 style="text-align:center;"> Форма редактирования РВД </h1>
    <div class="container text-center">
        <div class="row">

            <label style="display:none;">id</label>
            <input style="display:none;" type="text" name="id" placeholder="id" class="form-control"
                   value="{{ item.id }}" readonly/>

            <label style="display:none;">Дата</label>
            <input style="display:none;" type="datetime-local" name="date" placeholder="date"
                   class="form-control" value="{{ current_datetime }}" readonly/>

            <label>Номер</label>
            <input required type="text" name="number" placeholder="(Обязательное поле) Пример: АГБ 12 345 543 32 001"
                   class="form-control"
                   value="{{ item.number }}"/>

            <label>Номер АГБ</label>
            <input type="text" name="article_number_agb" required
                   placeholder="(Обязательное поле) Пример: АГБ РВД 21 345"
                   class="form-control"
                   value="{{ item.article_number_agb }}"/>

            <label>Номенклатура</label>
            <input type="text" name="nomenclature" required placeholder="(Обязательное поле) Пример: РВД 1 тра та та"
                   class="form-control"
                   value="{{ item.nomenclature }}"/>


            <label>Комментарий</label>
            <input type="text" name="note" placeholder="Комментарий минимум 3 символа" required
                   class="form-control" value="{{ item.note }}"/>
        </div>

        <br>
        <div class="container text-center">
            <button class="btn btn-success" type="submit">Применить изменения</button>
        </div>

    </div>
</form>


{% endblock content %}