{% extends 'base_header_and_footer.html' %}

{% block content %}

<div class="row" style="margin:20px;">
    <div class="col-4">
        <h1>Тут будет инфографика</h1>
        <div id="oil1" style="width: 500px; height: 400px;"></div>
        <br>
        <div id="oil2" style="width: 500px; height: 400px;"></div>
    </div>

    <div class="col-8">
        <div class="row fluid">
            <h1 class="col">Тут будут пользователи</h1>
            <a href="#" class="btn btn-primary btn-lg col">Добавить Пользователя</a>
        </div>
        <br><br>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>username</th>
                <th>password</th>
                <th>is_active</th>
                <th>super_user</th>
                <th>Дата внесения</th>
                <th width="250px"> Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for item in users %}
            <tr>
                <td>{{ item.username }}</td>
                <td>{{ item.password }}</td>
                <td>{{ item.is_active }}</td>
                <td>{{ item.super_user }}</td>
                <td>{{ item.data }}</td>
                <td>
                    <a id="new1_patch{{item.id}}"
                       href="#"
                       class="btn btn-primary"
                       data-id="{{item.id}}"
                       data-method="patch"
                    >Изменить
                    </a>
                    |
                    <a id="new1_delete{{item.id}}"
                       data-id="{{item.id}}"
                       href="#"
                       data-method="delete"
                       class="btn btn-danger"
                    >Удалить
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <br><br>
        <div class="row fluid">
                    <h1 class="col">Элементы на удаление</h1>
                    <a href="#" class="btn btn-primary btn-lg col">Удалить</a>
                </div>
                <br><br>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>username</th>
                        <th>password</th>
                        <th>is_active</th>
                        <th>super_user</th>
                        <th>Дата внесения</th>
                        <th width="250px"> Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in users %}
                    <tr>
                        <td>{{ item.username }}</td>
                        <td>{{ item.password }}</td>
                        <td>{{ item.is_active }}</td>
                        <td>{{ item.super_user }}</td>
                        <td>{{ item.data }}</td>
                        <td>
                            <a id="new2_patch{{item.id}}"
                               href="#"
                               class="btn btn-primary"
                               data-id="{{item.id}}"
                               data-method="patch"
                            >Изменить
                            </a>
                            |
                            <a id="new2_delete{{item.id}}"
                               data-id="{{item.id}}"
                               href="#"
                               data-method="delete"
                               class="btn btn-danger"
                            >Удалить
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
    </div>

</div>

{% endblock content %}