{% extends 'base_header_and_footer.html' %}
{% block content %}

<div class="container">
    <form action="/purchased/create" method="POST">
        <div class="container text-center">
            <h1> Форма создания покупных изделий </h1>
            <div class="row">
                <div class="col">
                    <label>Номер в каталоге</label>
                    <input required type="text" name="number_in_catalog"
                           placeholder="(Обязательное поле) Пример: JCB 234 5678 4332 001"
                           class="form-control"/>
                </div>
                <div class="col">
                    <label>Номер в каталоге АГБ</label>
                    <input required type="text" name="number_in_catalog_agb"
                           placeholder="(Обязательное поле) Пример: АГБ 234 5678 4332 001"
                           class="form-control"/>
                </div>
            </div>
            <label>Название в КД</label>
            <input type="text" name="name_in_KD" placeholder="Название в КД. Пример: ГПР 321 034"
                   class="form-control"/>
            <label>Название в каталоге</label>
            <input type="text" name="name_in_catalog"
                   placeholder="Название в каталоге. Пример: Гидроперфоратор 001 321 034" class="form-control"/>
            <label>Название в каталоге АГБ</label>
            <input type="text" name="name_in_catalog_agb"
                   placeholder="Название в каталоге АГБ. Пример: АГБ ГП 001 321 034"
                   class="form-control"/>
            <label>Имя в ОЕМ</label>
            <input type="text" name="name_in_OEM" placeholder="Название в ОЕМ. Пример: ГПР 001 321 034"
                   class="form-control"/>
            <label>Присвоил</label>
            <input readonly required type="text" name="assigned" placeholder="(Обязательное поле) Ваша Фамилия"
                   value="{{userdata.username}}"
                   class="form-control"/>
            <label>Примечание</label>
            <input type="text" name="note" placeholder="Любое примечание по данному изделию" class="form-control"/>
            <label>Применяемость</label>
            <input type="text" name="applicability" placeholder="В каких проектах может быть применено"
                   class="form-control"/>
            <label style="display:none;">Дата</label>
            <input style="display:none;" type="datetime-local" name="date" placeholder="date"
                   class="form-control" value="{{ current_datetime }}" readonly/>
        </div>
        <br>
        <div class="container text-center">
            <button class="btn btn-success" style="width: 400px">Добавить</button>
        </div>
    </form>
</div>

{% endblock content %}