{% extends 'base_header_and_footer.html' %} {% block content %}

<style>
  .dropdown-container {
    max-width: 300px;
    margin-bottom: 20px;
  }

  select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .category-label {
    margin-bottom: 5px;
    color: #666;
  }
</style>

<form
  action="/metiz/create"
  method="POST"
>
  <div class="container text-center">
    <h1>Форма создания метиза</h1>
    <div class="row">
      <div class="col">
        <label>Номер в каталоге</label>
        <input
          required
          type="text"
          name="number_in_catalog"
          placeholder="(Обязательное поле) Номер в каталоге"
          class="form-control"
        />
      </div>
      <div class="col">
        <label>Номер в каталоге АГБ</label>
        <input
          required
          type="text"
          name="number_in_catalog_agb"
          placeholder="(Обязательное поле) Номер в каталоге АГБ"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div class="container text-center">
    <label>Название в каталоге</label>
    <input
      type="text"
      name="name_in_catalog"
      placeholder="Название в каталоге"
      class="form-control"
    />

    <label>Название в каталоге АГБ</label>
    <input
      type="text"
      name="name_in_catalog_agb"
      placeholder="Название в каталоге АГБ"
      class="form-control"
    />

    <label>Название по КД</label>
    <input
      type="text"
      name="name_in_kd"
      placeholder="Название по конструкторской документации"
      class="form-control"
    />
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <label>Стандарт <small>(предпочтительно DIN. Для дюймовых ASME)</small></label>
        <input
          type="text"
          name="standard"
          placeholder="Пример: ASME B18.2.1"
          class="form-control"
        />
      </div>
      <div class="col">
        <div id="dependent-dropdowns">
          <div class="dropdown-container">
            <label class="category-label">Тип метиза:</label>
            <select id="fastener-type">
              <option value="">Выберите тип метиза</option>
              {% for metiz in metiz_types %}
              <option value="{{ metiz.name }}">{{ metiz.value }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="dropdown-container">
            <label class="category-label">Стандарт:</label>
            <select
              id="standard"
              disabled
            >
              <option value="">Сначала выберите тип метиза</option>
            </select>
          </div>

          <div class="dropdown-container">
            <label class="category-label">Профиль:</label>
            <select
              id="profile"
              disabled
            >
              <option value="">Сначала выберите стандарт</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <label>Профиль</label>
        <input
          type="text"
          name="thread_profile"
          placeholder="Пример: UNC"
          class="form-control"
        />
      </div>
      <div class="col">
        <label>Диаметр <small>(Номинальный)</small></label>
        <input
          type="text"
          name="nominal_diameter"
          placeholder="Пример: #10"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <label>Шаг резьбы</label>
        <input
          type="text"
          name="thread_pitch"
          placeholder="Пример: 24"
          class="form-control"
        />
      </div>
      <div class="col">
        <label>Длинна</label>
        <input
          type="text"
          name="length"
          placeholder="Пример: 1/2"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <label>Материал покрытия</label>
        <input
          type="text"
          name="Material_or_coating"
          placeholder="Пример: Zn"
          class="form-control"
        />
      </div>
      <div class="col">
        <label>Класс прочности</label>
        <input
          type="text"
          name="strength_class"
          placeholder="Пример: G5"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <div class="container text-center">
    <label>Присвоил</label>
    <input
      required
      type="text"
      name="assigned"
      placeholder="(Обязательное поле) Ваша Фамилия"
      class="form-control"
    />

    <label>Примечание</label>
    <input
      type="text"
      name="note"
      placeholder="Любое примечание по детали"
      class="form-control"
    />

    <label>Применяемость</label>
    <input
      type="text"
      name="applicability"
      placeholder="В каком проекте применяется данная деталь"
      class="form-control"
    />

    <label style="display: none">Дата</label>
    <input
      type="datetime-local"
      name="date"
      placeholder="date"
      style="display: none"
      class="form-control"
      value="{{ current_datetime }}"
      readonly
    />
  </div>
  <br />
  <div class="container text-center">
    <button
      class="btn btn-success"
      style="width: 400px"
    >
      Добавить
    </button>
  </div>
</form>

<script>
  const standards = {
    {% for key, value in standards_dict.items() %}
      {{ key }}: {{ value|tojson }},
    {% endfor %}
  };
  const profiles = {
    {% for key, value in types_dict.items() %}
      {{ key }}: {{ value|tojson }},
    {% endfor %}
  };


  document.getElementById("fastener-type").addEventListener("change", function () {
    const standardSelect = document.getElementById("standard");
    const profileSelect = document.getElementById("profile");
    standardSelect.innerHTML = '<option value="">Сначала выберите тип метиза</option>';
    profileSelect.innerHTML = '<option value="">Сначала выберите тип метиза</option>';
    if (this.value) {
      const selectedStandards = standards[this.value];

      selectedStandards.forEach(function (standard) {
        const option = document.createElement("option");
        option.value = standard;
        option.textContent = standard;
        standardSelect.appendChild(option);
      });

      standardSelect.disabled = false;
    } else {
      standardSelect.disabled = true;
    }
    if (this.value) {
      const selectedProfiles = profiles[this.value];

      selectedProfiles.forEach(function (profile) {
        const option = document.createElement("option");
        option.value = profile;
        option.textContent = profile;
        profileSelect.appendChild(option);
      });

      profileSelect.disabled = false;
    } else {
      profileSelect.disabled = true;
    }
  });
</script>
{% endblock content %}
