{% extends '/addnew/base.html' %}

{% block content %}
<div class="container">
    <form action="/hydroperfs/create" method="POST">
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <label>Номер в каталоге</label>
                    <input type="text" name="number_in_catalog" placeholder="number_in_katalog" class="form-control"/>
                </div>
                <div class="col">
                    <label>Номер в каталоге АГБ</label>
                    <input type="text" name="number_in_catalog_agb" placeholder="number_in_katalog_agb"
                           class="form-control"/>
                </div>
                <div class="col">
                    <label>Название в КД</label>
                    <input type="text" name="name_in_KD" placeholder="name_in_kd" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <label>Название в каталоге</label>
                    <input type="text" name="name_in_catalog" placeholder="name_in_katalog" class="form-control"/>
                </div>

                <div class="col">
                    <label>Название в каталоге АГБ</label>
                    <input type="text" name="name_in_catalog_agb" placeholder="name_in_katalog_agb"
                           class="form-control"/>
                </div>
                <div class="col">
                    <label>Имя в ОЕМ</label>
                    <input type="text" name="name_in_OEM" placeholder="name_in_OEM" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="container text-center">
                <div class="col">
                    <label>Присвоил</label>
                    <input required type="text" name="assigned" placeholder="assigned"
                           class="form-control"/>
                </div>
                <div class="col">
                    <label>Примечание</label>
                    <input type="text" name="note" placeholder="note" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <label>Применяемость</label>
                    <input type="text" name="applicability" placeholder="applicability" class="form-control"/>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <button class="btn btn-primary" style="width: 400px">Создать</button>
        </div>
    </form>
</div>

{% endblock content %}