{% extends 'base_header_and_footer.html' %}
{% block content %}
<div class="container wrapper text-center">
    <h1>Поиск по всем таблицам</h1>
    <form action="/search_all_tables" method="GET" class="input-group mb-3" style="width:100%; margin-bottom: 200px;">
        <input id="main_input" name="main_input" type="text" class="form-control"
               placeholder="Введите номер для поиска по всем таблицам"
               aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-primary" type="submit" id="button-addon2">Поиск</button>
    </form>
</div>
<div class="row" style="margin:20px;">
    <div class="col-12">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Найдено в таблицах</th>
                <th>Кол-во совпадений</th>
                <th width="250px"> Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for item in result_search %}
            {% if item.count_res > 0 %}
            <tr>
                <td>{{ item.table_name }}</td>
                <td>{{ item.count_res }}</td>
                <td>
                    <a
                            href="{{server_url}}{{ item.prefix }}/search?main_input={{ main_input }}"
                            class="btn btn-success"
                            data-method="get"
                            style="width:100%; height:100%;"
                    >Посмотреть
                    </a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<style>
    body{
    background-color: #D3D3D3;
    }
    a{
    text-decoration: none;
    color: black;
    border-radius:20px;}
</style>
{% endblock content %}