{% extends 'base_header_and_footer.html' %}

{% block content %}

<div class="container">
    <h1 class="page-header text-center">
        Поиск по собственным разработкам (по чертежам)
    </h1>
    <div class="wrapper">
        <form action="/draw/search" method="GET" class="input-group mb-3" style="width:100%; margin-bottom: 200px;">
            <input id="main_input" name="main_input" type="text" class="form-control"
                   placeholder="Введите название или артикул"
                   aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-primary" type="submit" id="button-addon2">Поиск</button>
        </form>
    </div>
</div>
<div class="row" style="margin:20px;">
    <div class="col-12">
        <a href="/draw/addnew" class="btn btn-primary">Добавить</a>
        <br><br>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Обозначение</th>
                <th>Номер по каталогу</th>
                <th>Номер по каталогу АГБ</th>
                <th>Наименование по КД</th>
                <th>Наименование по каталогу</th>
                <th>Первичное применение</th>
                <th>Примечание</th>
                <th>Разработал</th>
                <th>КД</th>
                <th>Дата внесения</th>
                <th width="250px"> Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for item in drawings %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.number_in_catalog }}</td>
                <td>{{ item.number_in_catalog_agb }}</td>
                <td>{{ item.name_in_KD }}</td>
                <td>{{ item.name_in_catalog }}</td>
                <td>{{ item.first_applicability }}</td>
                <td>{{ item.note }}</td>
                <td>{{ item.developed }}</td>
                <td>{{ item.KD }}</td>
                <td>{{ item.date }}</td>
                <td>
                    <a id="patchLink{{item.id}}"
                       href="/draw/patch/{{item.id}}"
                       class="btn btn-danger"
                       data-id="{{item.id}}"
                       data-method="patch"
                       style="width:100%; height:100%;"
                    >Изменить
                    </a>
                    {% if userdata.role == 'admin' %}
                    <a id="deleteLink{{item.id}}"
                       data-id="{{item.id}}"
                       href="/draw/delete/{{item.id}}"
                       data-method="delete"
                       style="width:100%; height:100%;"
                       class="btn btn-warning"
                    >Удалить
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}