{% extends '/finded/base.html' %}

{% block content %}

<div class="container">
    <h1 class="page-header text-center">
        Поиск
    </h1>
    <div class="wrapper">
        <form action="/metiz/search" method="GET" class="input-group mb-3" style="width:100%; margin-bottom: 200px;">
            <input id="main_input" name="main_input" type="text" class="form-control"
                   placeholder="Введите название или артикул"
                   aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-primary" type="submit" id="button-addon2">Поиск</button>
        </form>
    </div>
</div>
<div class="row" style="margin:20px;">
    <div class="col-12">
        <a href="/metiz/addnew" class="btn btn-primary">Добавить</a>
        <br><br>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th class="rotated">Номер в каталоге</th>
                <th class="rotated">Номер в каталоге АГБ</th>
                <th class="rotated">Имя в каталоге</th>
                <th class="rotated">Имя в КД</th>
                <th class="rotated">Имя в каталоге АГБ</th>
                <th class="rotated">Стандарт</th>
                <th class="rotated">Тип</th>
                <th class="rotated">Профиль</th>
                <th class="rotated">Диаметр(номинальный)</th>
                <th class="rotated">Шаг резьбы</th>
                <th class="rotated">Длинна</th>
                <th class="rotated">Класс прочности</th>
                <th class="rotated">Покрытие(материал)</th>
                <th class="rotated">Присвоил</th>
                <th class="rotated">Примечание</th>
                <th class="rotated">Применяемость</th>
                <th class="rotated">Дата присвоения</th>
                <th width="250px"> Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for item in metizes %}
            <tr>
                <td>{{ item.number_in_catalog }}</td>
                <td>{{ item.number_in_catalog_agb }}</td>
                <td>{{ item.name_in_catalog }}</td>
                <td>{{ item.name_in_KD }}</td>
                <td>{{ item.name_in_catalog_agb }}</td>
                <td>{{ item.standard }}</td>
                <td>{{ item.hardware_type }}</td>
                <td>{{ item.thread_profile }}</td>
                <td>{{ item.nominal_diameter }}</td>
                <td>{{ item.thread_pitch }}</td>
                <td>{{ item.length }}</td>
                <td>{{ item.strength_class }}</td>
                <td>{{ item.Material_or_coating }}</td>
                <td>{{ item.assigned }}</td>
                <td>{{ item.note }}</td>
                <td>{{ item.applicability }}</td>
                <td>{{ item.date }}</td>
                <td>
                    <a id="patchLink{{item.id}}"
                       href="/metiz/patch/{{item.id}}"
                       class="btn btn-success"
                       data-id="{{item.id}}"
                       data-method="patch"
                    >Изменить
                    </a>
<!--                    |-->
<!--                    <a id="deleteLink{{item.id}}"-->
<!--                       data-id="{{item.id}}"-->
<!--                       href="/metizes/delete/{{item.id}}"-->
<!--                       data-method="delete"-->
<!--                       class="btn btn-danger"-->
<!--                    >Удалить-->
<!--                    </a>-->
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<style>
    .rotated {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
    }
</style>
<script>
    document.getElementById('deleteLink').addEventListener('click', function(e) {
      e.preventDefault();

      const id = this.getAttribute('data-id');

      fetch('/metizes/delete', {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ id: id }),
      })
      .then(response => response.json())
      .then(data => {
        console.log('Success:', data);
        // Обновите UI после успешного удаления
        this.remove(); // Удаляем сам элемент ссылки
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    });
    document.getElementById('patchLink').addEventListener('click', function(e) {
          e.preventDefault();

          const id = this.getAttribute('data-id');

          fetch('/metizes/patch', {
            method: 'PATCH',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ id: id }),
          })
          .then(response => response.json())
          .then(data => {
            console.log('Success:', data);
            // Обновите UI после успешного удаления
            this.remove(); // Удаляем сам элемент ссылки
          })
          .catch((error) => {
            console.error('Error:', error);
          });
        });
</script>
</script>
{% endblock content %}