{% extends 'base_header_and_footer.html' %}

{% block content %}

<div class="container">
    <h1 class="page-header text-center">
        Поиск по покупным изделиям
    </h1>
    <div class="wrapper">
        <form action="/purchased/search" method="GET" class="input-group mb-3"
              style="width:100%; margin-bottom: 200px;">
            <input id="main_input" name="main_input" type="text" class="form-control"
                   placeholder="Введите название или артикул"
                   aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-primary" type="submit" id="button-addon2">Поиск</button>
        </form>
    </div>
</div>
<div class="row" style="margin:20px;">
    <div class="col-12">
        <a href="/purchased/addnew" class="btn btn-primary">Добавить</a>
        <br><br>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Номер в каталоге</th>
                <th>Номер в каталоге АГБ</th>
                <th>Название в КД</th>
                <th>Название в каталоге</th>
                <th>Название в каталоге АГБ</th>
                <th>Название в ОЕМ</th>
                <th>Присвоил</th>
                <th>Примечание</th>
                <th>Применяемость</th>
                <th>Дата присвоения</th>
                <th width="250px"> Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for item in purchased %}
            <tr>
                <td>{{ item.number_in_catalog }}</td>
                <td>{{ item.number_in_catalog_agb }}</td>
                <td>{{ item.name_in_KD }}</td>
                <td>{{ item.name_in_catalog }}</td>
                <td>{{ item.name_in_catalog_agb }}</td>
                <td>{{ item.name_in_OEM }}</td>
                <td>{{ item.assigned }}</td>
                <td>{{ item.note }}</td>
                <td>{{ item.applicability }}</td>
                <td>{{ item.date }}</td>
                <td>
                    <a id="patchLink{{item.id}}"
                       href="/purchased/patch/{{item.id}}"
                       class="btn btn-danger"
                       data-id="{{item.id}}"
                       data-method="patch"
                       style="width:100%; height:100%;"
                    >Изменить
                    </a>
                    {% if userdata.role == 'admin' %}
                    <a id="deleteLink{{item.id}}"
                       data-id="{{item.id}}"
                       href="{{server_url}}{{ item.prefix }}/delete/{{item.id}}"
                       data-method="delete"
                       style="width:100%; height:100%;"
                       class="btn btn-warning"
                    >Удалить
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<style>
    .rotated {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    }
</style>
<script>
    document.getElementById('deleteLink').addEventListener('click', function(e) {
      e.preventDefault();

      const id = this.getAttribute('data-id');

      fetch('/purchased/delete', {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ id: id }),
      })
      .then(response => response.json())
      .then(data => {
        console.log('Success:', data);
        // Обновите UI после успешного удаления
        this.remove(); // Удаляем сам элемент ссылки
      })
      .catch((error) => {
        console.error('Error:', error);
      });
    });
    document.getElementById('patchLink').addEventListener('click', function(e) {
          e.preventDefault();

          const id = this.getAttribute('data-id');

          fetch('/purchased/patch', {
            method: 'PATCH',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ id: id }),
          })
          .then(response => response.json())
          .then(data => {
            console.log('Success:', data);
            // Обновите UI после успешного удаления
            this.remove(); // Удаляем сам элемент ссылки
          })
          .catch((error) => {
            console.error('Error:', error);
          });
        });
</script>
</script>
{% endblock content %}
        