{% extends 'base_header_and_footer.html' %}

{% block content %}

<div class="container" id="search">
    <div class="wrapper">
        <h1 class="page-header text-center" style="margin-top: 200px;">
            Поиск по покупным гидроперфораторам
        </h1>
    </div>
    <br><br>
    <div class="wrapper">
        <form action="/hydroperfs/search" method="GET" class="input-group mb-3" style="width:100%; margin-bottom: 200px;">
            <input id="main_input" name="main_input" type="text" class="form-control"
                   placeholder="Введите название или артикул"
                   aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-primary" type="submit" id="button-addon2">Поиск</button>
        </form>
    </div>
</div>

{% endblock content %}