{% extends 'base_header_and_footer.html' %}

{% block content %}
<div class="row" style="margin:20px;">
    <div class="col-12">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Классификатор</th>
                <th>Проект</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>ПСВ</td>
                <td>RS-90. RS-90D. RS-230. RU-75/90 Nitrox. ESD. CS-14</td>
            </tr>
            <tr>
                <td>2БРН</td>
                <td>-</td>
            </tr>
            <tr>
                <td>4ПТХ</td>
                <td>JCB трактора</td>
            </tr>
            <tr>
                <td>5ПБУ</td>
                <td>DML</td>
            </tr>
            <tr>
                <td>6МФС</td>
                <td>Симба/Сила</td>
            </tr>
            <tr>
                <td>7ВПД</td>
                <td>Boomer</td>
            </tr>
            <tr>
                <td>8Ф</td>
                <td>гидроперфораторы</td>
            </tr>
            <tr>
                <td>9КИТ</td>
                <td>Caterpillar</td>
            </tr>
            <tr>
                <td>11ТКБ</td>
                <td>Boltec</td>
            </tr>
            <tr>
                <td>12ДП</td>
                <td>Scooptram</td>
            </tr>
            <tr>
                <td>13ПТВ</td>
                <td>Pit Viper</td>
            </tr>
            <tr>
                <td>14СДК</td>
                <td>Sandvik</td>
            </tr>
            <tr>
                <td>15НМД</td>
                <td>Normet</td>
            </tr>
            <tr>
                <td>16СДЕ</td>
                <td>ESD-9 / RD9DT</td>
            </tr>
            <tr>
                <td>17БЗ</td>
                <td>Буровые здания
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

{% endblock content %}